
    div.container {
      overflow-x: hidden;
      overflow-y: hidden;
      border: 1px solid rgba(69, 69, 69, 0.05);
      border-radius: 20px;
        
      box-shadow: 0px 0px 10px 5px rgba(86, 86, 86, 0.242);
      
      margin-left: auto;
      margin-right: auto;
    }
    
  div.profiles{
    
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
  }
@media only screen and (max-width: 560px) and (min-width: 0px){
  div.profiles {
    height: 90%;
  }
  div.container {
    height: 200vw;
    width: 90%;
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 561px) {
  div.profiles {
    height: 90%;
  }
  div.container {
    height: 75vw;
    width: 65vw;
    margin-top: 20vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1600px){

  div.container {

    height: 43vw;
    width: 65vw;
    margin-top: 4vw;
  }
  div.profiles {
    height: 70%;
  }

}

@media only screen and (min-width: 2001px) {
  div.container {
    height: 43vw;
    width: 65vw;
    margin-top: 4vw;
  }
  div.profiles{
    
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
  }
  div.profiles {
    height: 84%;
  }
}