div.profile > div.profile {
  border-bottom: 1px solid rgba(169, 169, 169, 0.359);
  height: fit-content;
}
div.profile > div.profile.information {
  height: 240px;
  width: 50%;
  margin-left: 15%;
  border-bottom: none;
  
}
div.profile > div.profile.information > p {
  position: relative;
  left: 10%;
}
div.profile > img {
  margin-left: 2%;
  height: 100%;
  width: 10%;
  float: left;
  position: relative;
  top: 50px;
  border: 1px solid black;
  border-radius: 100px;
}
img + button.profile {
  position: relative;
  left: 80%;
  width: 12px;
  height: 3px;
}
p.grades {
  margin: auto;
}
.tab{
  margin-left: 40px;
}