div.container {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(69, 69, 69, 0.05);
  border-radius: 5px;
  height: 45vw;
  width: 50vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;

}
div.container::-webkit-scrollbar{
  background: white;
  width: 10px;
}
div.container::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background:rgb(72, 72, 72);
}
div.container::-webkit-scrollbar:hover{ 
  border: 1px solid rgba(0, 0, 0, 0.249);

  border-radius: 10px;
  color: darkgray;
}