div.profile > div.profile {
  border-bottom: 1px solid rgba(169, 169, 169, 0.359);
}
div.profile > div.profile.information {
  height: 240px;
  width: 100%;
  margin-left: 25%;
  border-bottom: none;
  
}
div.profile > div.profile.information > p{
  position: relative;
  left: 10%;
}
div.profile > img {
  height: 100%;
  width: 20%;
  float: left;
  position: relative;
  top: 50px;
  border: 1px solid black;
  border-radius: 100px;
}