div.student > div.student {
  border-bottom: 1px solid rgba(169, 169, 169, 0.359);
}
div.student > div.student.information {
  height: 75%;
  width: 50%;
  margin-left: 15%;
  border-bottom: none;
  
}

div.student > div.student.information > p:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
div.student > div.student.information > p {
  position: relative;
  left: 10%;
}
input[type="text"].tagSearch:focus, input[type="text"].student:focus {
  outline: none;
  border-bottom: 1px solid black;
}
input[type="text"].tagSearch, input[type="text"].student {
  height: 5%;
  padding: 1%;
  width: 96%;
  font-size: xx-large;
  border: none;
  border-bottom: 1px solid rgba(163, 163, 163, 0.286);
  margin-left: 1%;
}
input[type="image"].student {
  width: 64px;
  height: 64px;
  float: right;
}
div.student > img {
  margin-left: 2%;
  height: 100%;
  width: 10%;
  float: left;
  position: relative;
  top: 50px;
  border: 1px solid black;
  border-radius: 100px;
}
.tag {
  position: relative;
  left: 20%;
}
p.grades {
  position: relative;
  left: 20%;
}
.tab{
  margin-left: 40px;
}
